/* ==========================================================================
   SassyGuides
   ========================================================================== */

/*
 * USER SETTINGS
 * This is the place to override the default settings, preferably by importing
 * an external file. Check the _settings.scss files for available options
 */

// @import "user/settings";

@import "base/constants";

// $font-size:                    17px;
// $line-height:                  1.54;
$font-size:                       16px;
$line-height:                     1.6;
// $text-font:                    "Open Sans";
// $heading-font:                 "Montserrat";
// $heading-weight:               normal;
$heading-weight:                  bold;
$link-color:                      $blue;
// $side-columns-small-font:      true;
$hide-guide-info-url:             true;
$alt-guide-description:           true;
$left-column-decrease-font-size:  true !default;
$left-column-island:              true !default;
$right-column-decrease-font-size: true !default;
$right-column-island:             true !default;

/* LibGuides brute reset */
@import "libguides/brute-reset";

/* Base resets & styles */
@import "base/base";

/* LibGuides styles */
@import "libguides/libguides";

/*
 * USER STYLES
 * This is the place to extend the default styles, preferably by importing
 * an external file.
 */

// @import "user/styles";
