/* ==========================================================================
   SassyGuides
   ========================================================================== */

/* 
 * USER SETTINGS
 * This is the place to override the default settings, preferably by importing
 * an external file. Check the _settings.scss files for available options
 */

// @import "user/settings";


$font-size:       17px;
$line-height:     1.5275;
$text-font:       "Open Sans";
$heading-font:    "Montserrat";
$heading-weight:  normal;
$primary-color:   #d33682;
$secondary-color: #8757ad;
$link-color:      #446fbd;
$side-columns-small-font: true;


/* LibGuides brute reset */
@import "libguides/brute-reset";

/* Base resets & styles */
@import "base/base";

/* LibGuides styles */
@import "libguides/libguides";

/* 
 * USER STYLES
 * This is the place to extend the default styles, preferably by importing
 * an external file.
 */

// @import "user/styles";
