/* ==========================================================================
   Admin stuff
   ========================================================================== */

/* "Edit Box" link */
.boxeditlink {
  @include adjust-font-size-to($m, 4, $headerbox-size);
  font-family: $text-font;
  letter-spacing: 0;
  float: right;
  padding-left: rhythm(2);
}

/* "Add / Edit Text" link */
.innerbox [title="Add / Edit Text"] {
  /* Overrides */
  display: block;
  // .b_pen { @include icon("pencil"); }
}