/* ==========================================================================
   Innerbox - Comments
   ========================================================================== */

/* The "Comments" link that appears (if enabled) at the bottom of all boxes */
.box_comments {
  /* Styling */
  margin-bottom: rhythm(4);
  a {
    @include icon("comments");
  }
  &,
  & + div {
    @include adjust-font-size-to($s, 4);
    @if $hide-box-comments { @extend %hide; }
  }
  /* This is the unclassed div that holds the commments interface */
  & + div {
    @include border-radius($widget-roundness);
    @extend %blocks;
    background: $lighter-color;
    padding: rhythm(2);
    // margin-top: -(rhythm(4) + $widget-roundness);
  }
  /* Overrides */
  padding-top: 0 !important;
}

/* The comments that are revealed by clicking on the "Comments" link */
.comment {
  padding-bottom: rhythm(2);
  border-bottom: 1px solid $border-color;
  margin-bottom: rhythm(2);
}
.comment_head {
  // margin-bottom: rhythm(1);
}
.comment_date {
  @include adjust-font-size-to($xs, 4, $s);
  float: right;
}