/* ==========================================================================
   SassyGuides :: Design - LibGuides
   ========================================================================== */


@import "settings";
@import "overrides";


/* Wrappers
   ========================================================================== */

#wrapper {
  width: $page-width;
  margin: 0 auto;
}
#container {
  margin: 0 $page-margin;
}


/* Header
   ========================================================================== */

/* Breadcrumbs */
.topnav {
  margin-bottom: rhythm(1);
}
.breadcrumbs, #breadcrumbsl, #breadcrumbsr {
  @include adjust-font-size-to($xs);
}
.breadcrumb_spacer {
  padding: 0 rhythm(1);
}
/* Hide option */
@if $hide-breadcrumbs {
  #breadcrumbsl { @extend %hide; }
}

/* Guide Title */
#guide_header_title {
  /* Overrides */
  &,
  & > h1,
  & > span {
    display: block;
  }
}

/* Page Title */
.pagetitle {
  @extend %heading;
  @extend %h1;
}

/* Guide Tags */
.guidetags {
  /* Change font styles from h1 */
  @include adjust-font-size-to($xs, 3, $xxxl);
  font-family: $text-font;
  font-weight: $text-weight;
  letter-spacing: 0;
  /* Float right */
  clear: right;
  float: right;
  margin-top: rhythm(1);
  text-align: right;
  width: 50%;
  /* "Remove" the &nbsp; from the end of the span */
  margin-right: -(rhythm(1.5));
  /* Hide option */
  @if $hide-guide-tags { @extend %hide; }
  /* Icon */
  @include icon("tags");
}


/* Guide Info
   ========================================================================== */

.guidedesc, .pagedesc {
  /* Style option */
  @if $alt-guidedesc {
    @extend %heading;
    @extend %h4;
    @extend .muted;
  }
  /* Hide option */
  @if $hide-guide-description { @extend %hide; }
}
.guideattr {
  @include adjust-font-size-to($xs);
  margin-top: rhythm(1);
  & > * {
    /* Override for inline styles */
    padding: 0 rhythm(3) 0 0 !important;
    border: 0 !important;
    // TODO: use the :before & :after pseudo-classes to create separators
  }
  /* Hide option */
  @if $hide-guide-info { @extend %hide; }
}
/* Icons */
.icomments a { @include icon("comments"); }
.irss a { @include icon("rss"); }
.iprint a { @include icon("print"); }
.iemail a { @include icon("envelope"); }
.guideshare {
  @if $hide-guide-share { @extend %hide; }
}


/* Content
   ========================================================================== */

$content-margin: rhythm(8);

#content {
  @include clearfix;
  margin-top: rhythm(3);
  background: $content-color;
  &:first-child {
    margin-left: 0 !important;
  }
}

#contentleft,
#contentcenter,
#contentright {
  float: left;
}

#contentleft {
  padding-right: $content-margin !important; 
  margin-right: 8px;
}
#contentright {
  padding-left: $content-margin !important;
}

/* Content Boxes
   ========================================================================== */

/* Center Column Boxes */
#centerboxes > div {
  border-top: 1px solid $border-color;
  padding-top: rhythm(4);
  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

/* Sidebar Font Sizes */
#contentleft,
#contentright {
  @if $side-columns-small-font { 
    @include adjust-font-size-to($s, 4);
  }
}

/* Boxes
   ========================================================================== */

.outerbox {
}
.headerbox {
  h2 {
    @extend %heading;
    @include adjust-font-size-to($headerbox-size + $heading-size-adjustment);
  }
}
.innerbox {
}
.innerboxprofile {
}

/* Innerbox Elements */
.innerbox {
  p {
    @extend %blocks;
  }
  a {
    @extend %link-with-border;
  }
  table {
    @extend %table;
  }
}
.boxatt {
  // @extend %blocks;
}


/* Itemlists
   ========================================================================== */

/* Resets */
/*#rlist,
.itemlist,
#sidelist,
.linklist,
#filelist {
ul { }
li { }
}
.resdesc,
.helpdesc,
.linkdesc {
} */

/* Simple Web Links */
.linklist {
  ul { @extend %base-ul; }
  li { @extend %base-li; }
}

/* Links & Lists */
.itemlist {
  ul { @extend %base-ul; }
  li { @extend %base-li; }
}
/* Fancy Links & Lists in the center column */
/*#centerboxes .itemlist {
  @include no-bullets;
  li {
    @include adjust-font-size-to($l);
    border-top: 1px dotted $border-color;
    padding-top: rhythm(2);
    &:first-child {
      border-top: none; 
      padding-top: 0;
    }
    .linkdesc {
      @include adjust-font-size-to($m, 4, $l);
    }
  }
}*/

/**
 * "More Information" button
 * 1. Add an icon to the <a> which triggers the popup, along with some padding
 * 2. Hide the default button
 * I forgot to note that this is very, very hacky :)
 */
.itemlist {
  a[title="More Information"] {
    @include icon("info-sign"); /* 1 */
    padding-left: rhythm(1/2);
  }
}
.b_moreinfo { @extend %hide; } /* 2 */

/* "Documents & Files" box */
#filelist {
  /* Overrides */
  li {
    background-position: bottom;
  }
  li a {
    padding-left: rhythm(4) !important;
  }
}

/* Books from the Catalog */
// .book_cover, .book_title, .book_author, .book_callno, .book_isbn, .book_pubyear, .book_description { }
.book_art_0,
.book_art_1,
.book_art_2 {
  margin: 0 rhythm(4) rhythm(1) 0;
}
.book_art_0 { width: $book-cover-width; } // was: 90px;
.book_art_1 { width: $book-cover-width * 1.5;  } // was: 140px;
.book_art_2 { width: $book-cover-width * 2;  } // was: 200px;

/* Footer
   ========================================================================== */

#footer {
  padding: rhythm(4) 0;
  @include adjust-font-size-to($xs);
  /* Overrides */
  text-align: right;
}

/* Misc */
a:hover {
  text-decoration: inherit;
}



@import "tabs";
@import "stitle";
@import "innerbox-rss";
@import "innerbox-comments";
@import "popup";
@import "admin";