/* ==========================================================================
   SassyGuides :: Design - LibGuides
   ========================================================================== */


// $$$ @import "reset-classes";

@import "settings";
@import "overrides";


%center-on-page {
  margin: 0 auto;
}

#wrapper {
}
#container {
  width: $page-width;
  @extend %center-on-page;
  & > div {
    margin-left: $content-margin;
    margin-right: $content-margin;
  }
}

/* Top stuff */
.topnav,
#guide_header_title,
.pagetitle,
.guidedesc,
.pagedesc,
.guideattr/*,
#tabsI, #tabs12*/ {
  // // margin: 0 $content-margin;
  // @extend %center-on-page;
  // padding: 0 $content-margin;
}




/* Header
   ========================================================================== */

/* Breadcrumbs */
.topnav {
  margin-bottom: rhythm(1);
}
.breadcrumbs, #breadcrumbsl, #breadcrumbsr {
  @include adjust-font-size-to($xs);
}
.breadcrumb_spacer {
  padding: 0 rhythm(1);
}
/* Hide option */
@if $hide-breadcrumbs {
  #breadcrumbsl { @extend %hide; }
}

/* Guide Title */
#guide_header_title {
  /* Overrides */
  &,
  & > h1,
  & > span {
    display: block;
  }
}

/* Page Title */
.pagetitle {
  @extend %heading;
  @extend %h1;
}

/* Guide Tags */
.guidetags {
  /* Change font styles from h1 */
  @include adjust-font-size-to($xs, 3, $xxxl);
  font-family: $text-font;
  font-weight: $text-weight;
  letter-spacing: 0;
  /* Float right */
  clear: right;
  float: right;
  margin-top: rhythm(1);
  text-align: right;
  width: 50%;
  /* "Remove" the &nbsp; from the end of the span */
  margin-right: -(rhythm(1.5));
  /* Hide option */
  @if $hide-guide-tags { @extend %hide; }
  /* Icon */
  @include fontawesome("tags");
}


/* Guide Info
   ========================================================================== */

.guidedesc, .pagedesc {
  // padding: rhythm(1/2) $content-margin;
  /* Style option */
  @if $alt-guidedesc {
    // @include adjust-font-size-to($xl);
    @extend %heading;
    @extend %h4;
    @extend .muted;
  }
  /* Hide option */
  @if $hide-guide-description { @extend %hide; }
}
.guideattr {
  @include adjust-font-size-to($xs);
  // padding: rhythm(1/2) $content-margin;
  margin-top: rhythm(1);
  > * {
    /* Override for inline styles */
    padding: 0 rhythm(3) 0 0 !important;
    border: 0 !important;
    // TODO: use the :before & :after pseudo-classes to create separators
  }
  /* Hide option */
  @if $hide-guide-info { @extend %hide; }
}
/* Icons */
.icomments a { @include fontawesome("comments"); }
.irss a { @include fontawesome("rss"); }
.iprint a { @include fontawesome("print"); }
.iemail a { @include fontawesome("envelope"); }
.guideshare {
  @if $hide-guide-share { @extend %hide; }
}


/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */
/* ********************************************************** */



/* Boxes
   ========================================================================== */

.outerbox {
}
.headerbox {
  h2 {
    @extend %heading;
    @include adjust-font-size-to($headerbox-size + $heading-size-adjustment);
  }
}
.innerbox {
}
.innerboxprofile {
}

/* Innerbox Elements */
.innerbox {
  p {
    @extend %blocks;
  }
  a {
    @extend %link-with-border;
  }
  table {
    @extend %table;
  }
}
.boxatt {
  @extend %blocks;
}


/* Itemlists
   ========================================================================== */

/* Resets */
#rlist, .itemlist {
  ul, li {
  }
  ul {
    @extend %base-ul;
  }
  li {
    @extend %base-li;
  }
}     
#sidelist, .linklist {
  ul, li {
  }
  ul {
    @extend %base-ul;
  }
  li {
    @extend %base-li;
  }
}
#filelist {
  ul, li {
  }
  ul {
    @extend %base-ul;
  }
  li {
    @extend %base-li;
  }
}
.resdesc,
.helpdesc,
.linkdesc {
} 
/* Post-reset */
.itemlist ul {
  li {
    margin-left: rhythm(4);
  }
  .linkdesc {
    padding-bottom: rhythm(2);
  }
  #centerboxes & {
    @include no-bullets;
  }
}

/* Books from the Catalog */
// .book_cover, .book_title, .book_author, .book_callno, .book_isbn, .book_pubyear, .book_description { }
.book_title {
  font-weight: $text-weight; // reset
}
.book_div {
}
.book_art_0,
.book_art_1,
.book_art_2 {
  margin: 0 rhythm(4) rhythm(1) 0;
}
.book_art_0 { width: rhythm(15); }  // was: 90px;
.book_art_1 { width: rhythm(23);  } // was: 140px;
.book_art_2 { width: rhythm(33);  } // was: 200px;

/* Footer
   ========================================================================== */

#footer {
  /* Overrides */
  text-align: right;
  /* Styling */
  @extend %center-on-page;
  padding: rhythm(4) $content-margin;
  @include adjust-font-size-to($xs);
}

/* Misc */
a:hover {
  text-decoration: inherit;
}



@import "layout";
@import "tabs";
@import "stitle"; // must be after #content if they are yoked
@import "innerbox-comments";
@import "popup";
@import "admin";