/* ==========================================================================
   Settings (LibGuides)
   ========================================================================== */

/* Alternative style options
   ========================================================================== */

/* Make the guide description more prominent.
   Tip: short descriptions will work best. */
$alt-guidedesc: true !default;


$book-cover-width: rhythm(15);