/* ==========================================================================
   Settings (LibGuides)
   ========================================================================== */

/* Settings */

$popup-color:      $white !default;
$book-cover-width: rhythm(15) !default;
$sidebar-color:    $gray-f;

/* Hide elements
   ========================================================================== */

$hide-breadcrumbs:       false !default;
$hide-guide-tags:        false !default;
$hide-guide-description: false !default;
$hide-guide-info:        false !default;
$hide-guide-info-update: false !default;
$hide-guide-info-url:    false !default;
$hide-guide-info-print:  false !default;
$hide-guide-info-feed:   false !default;
$hide-guide-info-email:  false !default;
$hide-guide-info-social: false !default;
$hide-page-comments:     false !default;
$hide-page-info:         false !default;
$hide-box-comments:      false !default;

/* Alternative styling
   ========================================================================== */

/* Make the guide description more prominent.
   Tip: short descriptions will work best. */
$alt-guide-description: false !default;

/* Make the titles/links for Links & Lists more prominent */
$alt-link-and-lists: false !default;

/* Decrease font size in the left or right columns */
$left-column-decrease-font-size: false !default;
$right-column-decrease-font-size: false !default;

/* Wrap the content of the left or right columns in a frame -- doesn't work */
$left-column-island: false !default;
$right-column-island: false !default;