/* ==========================================================================
   Settings (LibGuides)
   ========================================================================== */

/* Settings */

$popup-color:      $white !default;
$book-cover-width: rhythm(15) !default;

/* Alternative style options
   ========================================================================== */

/* Hide various elements */
$hide-breadcrumbs:       false !default;
$hide-guide-tags:        false !default;
$hide-guide-description: false !default;
$hide-guide-info:        false !default;
$hide-guide-share:       false !default;
$hide-page-comments:     false !default;
$hide-page-info:         false !default;
$hide-box-comments:      false !default;

/* Make the guide description more prominent.
   Tip: short descriptions will work best. */
$alt-guide-description: true !default;

/* Make the titles/links for Links & Lists more prominent */
$alt-link-and-lists: false !default;

/* Decrease font size in the left & right columns */
$side-columns-small-font: true !default;