/* Page info below tab (stitle) */
.stitle {
  /* Overrides */
  @extend %center-on-page;
  height: auto;
  // table {
    // margin: 0;
  // }
  /* Styling */
  @include adjust-font-size-to($xs);
  @include border-radius(rhythm($static-radius) rhythm($static-radius) 0 0);
  @include box-shadow(0 1px 2px rgba($darker-color, 0.2));
  background: $content-color;
  border: 1px solid $border-color;
  padding: rhythm(1) $content-margin;
  @if $hide-stitle { @extend %hide; }
  @else {
    /* Adjust top of #content if stitle is visible */
    & + #content,
    & + div + #content {
      @include border-radius(0 0 rhythm($static-radius) rhythm($static-radius));
      border-top-style: none;
    }
  }
  td > span {
    padding: 0 rhythm(3) 0 0 !important;
  }
}