/* Page info below tab (stitle) */
.stitle {
  /* Overrides */
  @extend %center-on-page;
  height: auto;
  // table {
    // margin: 0;
  // }
  /* Styling */
  @include adjust-font-size-to($xs);
  // @include border-radius(rhythm($static-radius) rhythm($static-radius) 0 0);
  // @include box-shadow(0 1px 2px rgba($darker-color, 0.2));
  background: $content-color;
  border-bottom: 1px solid $border-color;
  padding: rhythm(2) 0;
  td > span {
    padding: 0 rhythm(3) 0 0 !important;
  }
  /* Hide option */
  @if $hide-page-info { @extend %hide; }
}
.lgsearch {
  display: block;
}
.icomments {
  @if $hide-page-comments { @extend %hide; }
}