/* Page - Info
   ========================================================================== */

/* Page info below guide tabs (stitle) */
.stitle {
  @include adjust-font-size-to($xs);
  background: $content-color;
  padding-bottom: rhythm($header-margin * 4, $xs);
  border-bottom: 1px solid $border-color;
  /* Overrides */
  height: auto;
  /* Hide option */
  @if $hide-page-info { @extend %hide; }
}

/* Left-side */
#guide_tab_title_bar_page_name,
#guide_tab_title_bar_page_comments,
#guide_tab_title_bar_page_print {
  padding-right: rhythm(3);
}

/* Page Comments */
.icomments {
  @if $hide-page-comments { @extend %hide; }
}
div[id="commentslistp"] {
  /* Doesn't work $$$ */
  margin: rhythm(2) $content-margin 0 !important;
}

/* Search box */
.lgsearch {
  display: block;
  padding-right: 0;
}
