/* ==========================================================================
   LibGuides Tabs
   ========================================================================== */


/* Guide Tabs
   ========================================================================== */

#tabsI,
#tabs12 {
  @include adjust-font-size-to($s);
  background: $white;
  ul {
    @include clearfix;
    width: $page-width;
    margin: rhythm(1) auto;
    /* The left/right value is an estimate of for: $content-margin - rhythm(1) */
    padding: rhythm(1) ($content-margin / 2) 0;
    li {
      @include clearfix;
      display: inline-block;
      margin: 0 rhythm(1) rhythm(1) 0;
      position: relative;
      &:first-child:before { display: none; }
      &:last-child:after { display: none; }
      &:last-child {
        margin-right: 0;
      }
      &:before,
      &:after {
        content: "";
        display: block;
        height: rhythm(4);
        position: absolute;
        top: rhythm(1.25);
        width: 1px;
        z-index: 10;
      }
      &:before {
        background: $gray-f;
        left: 0;
      }
      &:after {
        background: $gray-c;
        right: 0;
      }
    }
  }
  a {
    display: block;
    background: $tab-color;
    @include border-radius(rhythm($widget-radius));
    &:hover {
      color: $white;
      background: darken($tab-color, 0.5);
    }
    &:active {
      background: darken($tab-color, 0.5);
    }
    span {
      color: #fff;
      padding: rhythm(1) rhythm(2);
    }
    img {
      vertical-align: middle;
      padding-left: rhythm(1/2);
    }
  }
  li#current a {
    color: $white;
    background: $tab-active-color;
    &:hover,
    &:focus {
      background: darken($tab-active-color, $shading);
    }
    &:active {
      background: darken($tab-active-color, ($shading * 2));
    }
  } 
}

/* Tab Menu
   ========================================================================== */

.dropmenudiv {
  // position: absolute;  
  // top: 0;    
  // z-index: 100;   
  width: rhythm(50); 
  @include adjust-font-size-to($s, 4);
  @include border-radius(rhythm($widget-radius));
  border: 1px solid $border-color;
  background: #fff;
}
.dropmenudiv a {  
  // width: auto;   
  /* Overrides */
  text-indent: -(rhythm(2));
  padding: 0 rhythm(2) 0 rhythm(4);
  /* New Styles */
  border-top: 1px solid rgba($border-color, $shading * 2);
  &:first-child {
    border-top: 0;
    @include border-radius(rhythm($widget-radius) rhythm($widget-radius) 0 0);
  } 
  &:last-child {
    @include border-radius(0 0 rhythm($widget-radius) rhythm($widget-radius));
  } 
  &:first-child:last-child {
    @include border-radius(rhythm($widget-radius));
  }
  &:hover {
    background: $tab-active-color;
    color: #fff;
  }
}