/* ==========================================================================
   Goodies (Classes?)
   ========================================================================== */

/* Small caps */
.small-caps {
  text-transform: uppercase;
  @include adjust-font-size-to($s);
}

/* Text alignment */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* Emphasis classes */
.muted { color: $gray-9; }
.text-warning { color: $warning-color; }
.text-error { color: $error-color; }
.text-info { color: $info-color; }
.text-success { color: $success-color; }
