/* ==========================================================================
   Grouping content
   ========================================================================== */


/* Placeholders
   ========================================================================== */

/**
  * I follow some of the vocabulary (but not quite the spec) of
  * http://csswizardry.com/2012/06/single-direction-margin-declarations
  */

/* Block-level placeholder */
%blocks {
  margin-bottom: rhythm(4);
}
%half-block {
  margin-bottom: rhythm(2);
}

/* Islands & Islets */
%island,
%islet {
  @include clearfix();
}
%island {
  @extend %blocks;
  padding: rhythm(4) rhythm(4) 0;
}
%islet {
  @extend %blocks;
  padding: rhythm(2);
  & > * {
    @extend %half-block;
  }
}

/* Elements
   ========================================================================== */

/* Paragraphs */
p {
  @extend %blocks;
}

/* Code & preformatted placeholder */
%code {
  font-family: $code-font;
  font-weight: $code-weight;
  color:       $code-color;
  @include adjust-font-size-to($m + $code-size-adjustment);
}

/* Preformatted */
pre {
  @extend %blocks;
  @extend %code;
  margin-left: rhythm(4);
  white-space: pre-line; // TODO: Test this
}

/* Blockquote */
blockquote {
  @extend %blocks;
  color: $off-color;
  border-left: rhythm(1) solid $gray-c;
  padding: 0 rhythm(4) 0 rhythm(3);
  p {
    @extend %half-block;
  }
}

/* Lists (Ordered & Unordered)*/
%base-list {
  @extend %blocks;
  padding: 0;
  ol, ul {
    margin-bottom: 0;
  }
}
ol {
  @extend %base-list;
  list-style-type: decimal;
}
%base-ul {
  list-style-type: square;
  & li li {
    list-style-type: circle;
  }
}
ul  {
  @extend %base-list;
  @extend %base-ul;
  &.unstyled { @include no-bullets; }
  &.inline { @include inline-list; }
}
%base-li {
  margin-left: rhythm(4);
}
li {
  @extend %base-li;
}

/* Definition lists */
dl {
 @extend %blocks;
}
dt {
  font-weight: 700;
}
dd {
  @extend %base-li;
}

/* Figures & captions */
figure {
  @extend %blocks;
}
figcaption {
  @extend %blocks;
  & > img {
    display: block;
  }
  & > * {
    @include adjust-font-size-to($s);
    color: $off-color;
  }
}

/* Horizontal Rulers */
hr {
  @extend %h1;
  @extend %blocks;
  text-align: center;
  border: 0;
  padding: 0;
  height: 0;
  clear: both;
  display: block;
}
hr::after {
  content: "\b7\b7\b7";
  color: $gray-9;
  letter-spacing: rhythm(2);
  padding-left: rhythm(1);
  height: 0;
}