/* ==========================================================================
   Grouping content
   ========================================================================== */

/* Block-level placeholder */
%blocks {
  margin: 0 0 rhythm(4) 0;
}

/* Paragraphs */
p {
  @extend %blocks;
  &.lede,
  &.lead {
    @include adjust-font-size-to($l);
    color: $mid-color;
  }
}

/* Preformatted */
pre {
  @extend %blocks;
  margin-left: rhythm(4);
  white-space: pre-line; // TODO: Test this
}

/* Blockquote */
blockquote {
  @extend %blocks;
  color: $secondary-color;
  border-left: rhythm(1) solid $gray-c;
  padding: 0 rhythm(4) 0 rhythm(3);
  p {
    margin: 0 0 rhythm(2);
  }
}

/* Lists (Ordered & Unordered)*/
%base-list {
  @extend %blocks;
  padding: 0;
  ol, ul {
    margin-bottom: 0;
  }
}
ol {
  @extend %base-list;
  list-style-type: decimal;
}
%base-ul {
  list-style-type: square;
  & li li {
    list-style-type: circle;
  }
}
ul  {
  @extend %base-list;
  @extend %base-ul;
  &.unstyled { @include no-bullets; }
  &.inline { @include inline-list; }
}
%base-li {
  margin-left: rhythm(4);
}
li {
  @extend %base-li;
}

/* Definition lists */
dl {
 @extend %blocks; 
}
dt {
  font-weight: 700;
}
dd {
  @extend %base-li;
}

/* Figures & captions */
figure {
  @extend %blocks;
}
figcaption {
  @extend %blocks;
  & > img {
    display: block;
  }
  & > * {
    @include adjust-font-size-to($s);
    color: $secondary-color;
  }
}

/* Horizontal Rulers */
hr {
  @extend %h1;
  text-align: center;
  @extend %blocks;
  border: 0;
  padding: 0;
  height: 0;
  clear: both;
  display: block;
}
hr::after {
  content: "\b7\b7\b7";
  color: $gray-9;
  letter-spacing: rhythm(2);
  padding-left: rhythm(1);
  height: 0;
}