/* ==========================================================================
   Print styles
   ========================================================================== */

/* Loosely based on P. R. Lloyd's _Barebones_ & Zurb's _Foundation_ */

@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    border: 0 none;
  }
  a[href]:after {
    @include adjust-font-size-to($xs);
    content: " (" attr(href) ")";
  }
  abbr[title],
  dfn[title] {
    &:after {
      @include adjust-font-size-to($xs);
      content: " (" attr(title) ")";
    }
  }
  a[href^="#"]:after {
      content: "";
  }
  thead {
    display: table-header-group;
  }
  th, tr, img {
    page-break-inside: avoid;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea {
    @include box-shadow(none);
    border: 1px solid $light;
    border-style: none none solid none;
  }
}
