/* ==========================================================================
   Sections
   ========================================================================== */

/* Body
   ========================================================================== */

body {
  color: $text-color;
  // font-size: $base-font-size;
  font-family: $text-font;
  font-weight: $text-weight;
  @include adjust-font-size-to ($base-font-size, 4);
  background: $page-color;
  // background: $page-color url("/home/alex/Dropbox/TRANSPORT/Wub/scriptogram/dropmarkbg.png");
  // background: $page-color url("../images/pdf.js.texture.png");
  // background: $page-color url("/home/alex/Dropbox/TRANSPORT/Wub/scriptogram/www-refreshbg-vflC3wnbM.png");
}

/* Headings
   ========================================================================== */

%heading {
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $heading-color;
  // line-height: $line-height / $line-height;
}
%h1 {
  @include adjust-font-size-to($xxxl + $heading-size-adjustment);
  // @include adjust-leading-to(8, $xxxl + $heading-size-adjustment);
}
%h2 {
  @include adjust-font-size-to($xxl + $heading-size-adjustment);
  // @include adjust-leading-to(6, $xxl + $heading-size-adjustment);
  margin: 0 0 rhythm(2);
}
%h3 {
  @include adjust-font-size-to($xl + $heading-size-adjustment);
  // @include adjust-leading-to(5, $xl + $heading-size-adjustment);
  margin: rhythm(2) 0 rhythm(2);
}
%h4 {
  @include adjust-font-size-to($l + $heading-size-adjustment);
  // @include adjust-leading-to(4, $l + $heading-size-adjustment);
}
%h5 {
  @include adjust-font-size-to($m + $heading-size-adjustment);
  // @include adjust-leading-to(4, $m + $heading-size-adjustment);
  text-transform: uppercase;
}
%h6 {
  @include adjust-font-size-to($s + $heading-size-adjustment);
  // @include adjust-leading-to(4, $s + $heading-size-adjustment);
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  @extend %heading;
}
h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }