/* ==========================================================================
   Sections
   ========================================================================== */

/* Body
   ========================================================================== */

body {
  color: $text-color;
  font-family: $text-font;
  font-weight: $text-weight;
  @include adjust-font-size-to ($base-font-size, 4);
  background: $page-color;
}

/* Headings
   ========================================================================== */

%heading {
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $heading-color;
  letter-spacing: $heading-letter-spacing;
}
%h1 {
  @include adjust-font-size-to($h1-font-size);
  margin-left: -(rhythm(1/5));
}
%h2 {
  @include adjust-font-size-to($h2-font-size);
  margin: 0 0 rhythm(2);
}
%h3 {
  @include adjust-font-size-to($h3-font-size);
  margin: rhythm(2) 0 rhythm(2);
}
%h4 {
  @include adjust-font-size-to($h4-font-size);
  margin: rhythm(2) 0 rhythm(2);
}
%h5 {
  @include adjust-font-size-to($h5-font-size);
  // text-transform: uppercase;
}
%h6 {
  @include adjust-font-size-to($h6-font-size);
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  @extend %heading;
}
h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }