/* ==========================================================================
   Tabular elements
   ========================================================================== */

/* Table placholder */
%table {
  @extend %blocks;
  // @include adjust-font-size-to ($s);
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;
  td, th {
    text-align: left;
    padding: rhythm(1) rhythm(2);
    vertical-align: top;
    border: 1px solid $border-color;
    // border-left: 1px dotted $border-color;
    border-style: solid none solid dotted;
    &:first-child {
      border-left: none;
    }
  }
  th {
    // border-top: 1px solid $border-color;
  }
  th, tfoot td {
    font-weight: 700;
    background: $gray-e;
  }
  caption {
    @include adjust-font-size-to ($xs, 4, $s);
    caption-side: bottom;
    color: $gray-9;
    text-align: right;
    margin: rhythm(2) 0;
  }
}

/* This is commented out in favor of extending .innerbox table */
// table { @extend %table; }

/* Remove unwanted table stylings placeholder */
%undo-table {
  // @include adjust-font-size-to ($m, 4, $s);
  border: 0;
  margin-bottom: 0;
  td {
    border: 0;
    padding: 0;
  }
}