/* ==========================================================================
   Text-level semantics
   ========================================================================== */

/* Inline placeholder */
%inline-padding {
  padding: 0 rhythm(1/3);
}

/* Links */
a {
  color: $link-color;
  text-decoration: none;
  &:focus {
    outline: 1px solid  rgba($info-color, $shading * 2);
  }
  &:hover {
    color: $hover-color;
    outline: none;
    text-decoration: underline;
  }
  a:link,
  a:visited,
  a:hover {
    @include single-transition(all 0.3s ease);
  }
  a:active {
    color: #f0f;
    outline: none;
    @include single-transition(none);
  }
  // img {
  //   border: 0;
  // }
}

/* Emphasised & italicized text */
em,
i,
var,
samp,
cite {
  font-style: italic;
}

/* Strong and embolded text */
strong,
b {
  font-weight: 700;
  /* @todo: I've encountered this pattern in the wild. Is it worth accounting for? */
  a & {
    color: $link-color;
  }
}

/* Small or "fine print" text */
small {
  color: $mid-color;
  @include adjust-font-size-to($s);
  // @include adjust-leading-to(5, $xl);
  display: inline-block;
}

/* Abbreviations & definitions */
abbr {
  // @extend .small-caps;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted rgba(68,68,68,0.3);
  cursor: help;
}

/* Code & sample output */
code,
samp {
  font-family: $code-font;
  font-weight: $code-weight;
  color: $code-color;
  @include adjust-font-size-to($m + $code-size-adjustment);
}

/* Keyboard input */
kbd {
  margin: 0 rhythm(1);
  border: 1px solid $border-color;
  padding: rhythm(1/3) rhythm(2/3);
  @include adjust-font-size-to($s);
  color: $gray-6;
  background-color: $gray-e;
  @include border-radius(rhythm($static-radius));
}

/* Superscripts & subscripts */
sub,
sup {
  @include adjust-font-size-to($xs);
  // position : relative;
}
sub {
  bottom: -(rhythm(1));
}
sup {
  top: -(rhythm(1.25));
}

/* Marked text */
mark {
  @extend %inline-padding;
  background-color: light($yellow);
}

/* Edited text */
ins {
  @extend %inline-padding;
  background-color: $gray-e;
}
del,
s {
  text-decoration: line-through;
}